openai
ollama
requests
beautifulsoup4
pandas
pydantic
python-dotenv
pexpect
jsonschema
opentelemetry-sdk
sentence-transformers
transformers
torch
textgrad
rich
notebook
ipykernel
matplotlib
sentence_transformers
editdistance
numpy
scipy
questionary
pprint